---
---
<a href="/" class="flex items-center space-x-2">
  <img src="/logo.png" alt="Autism Forever Home" width="32" height="32" class="rounded-full" />
  <span class="font-bold text-lg">Autism Forever Home</span>
</a>
